.media {
    position: relative;
  }
  
  .img-fluid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    
  }
  .img-fluid{
    max-height: 350px;
  }
  
  .media-body {
    padding-top: 100px;
  }
 